/* FADR-WEB */
@charset "UTF-8";
.blend-mode {
  color: #fff;
  -webkit-mix-blend-mode: difference;
  -moz-mix-blend-mode: difference;
  mix-blend-mode: difference;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@font-face {
  src: url('font/Roboto-Light.ttf') format('truetype');
  font-family: RobotoLight;
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: RobotoLight;
  font-size: 14px;
  font-weight: 400;
  background: #000;
}
#fadr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition-property: background-color;
  transition-duration: 1s;
  transform: translate3d(0, 0, 0);
}
input {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  padding: 7px 0px 0px 0px;
  align-self: center;
  outline: none;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  border-top: 1px solid #fff;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  position: relative;
  width: 14px;
  height: 14px;
  top: -7px;
  border-radius: 7px;
}
#settings {
  display: table;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  text-transform: uppercase;
  color: #fff;
  -webkit-mix-blend-mode: difference;
  -moz-mix-blend-mode: difference;
  mix-blend-mode: difference;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}
#settings section {
  width: 200px;
}
#settings .title {
  float: left;
  margin-right: 5px;
}
header {
  position: fixed;
  top: 30px;
  left: 20px;
  color: #fff;
  -webkit-mix-blend-mode: difference;
  -moz-mix-blend-mode: difference;
  mix-blend-mode: difference;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
header img {
  max-width: 150px;
}
input[type=range] {
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  transition: transform 0.1s;
}
input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.3, 1.3);
}
#settings {
  top: 100px;
  opacity: 0;
  transition: opacity 0.5s;
}
#settings section {
  width: 200px;
  margin-right: 15px;
  float: left;
}
#settings div.slider {
  margin-bottom: 10px;
}
footer {
  opacity: 0;
  transition: opacity 0.3s;
}
/*
header {
    position: fixed;
    top: 30px;
    left: @settings-indent;
    .blend-mode;
    .no-select;
    pointer-events: none;
}
header img {
    max-width: 150px;
}
*/
footer {
  position: fixed;
  bottom: 10px;
  right: 12px;
  margin: 0;
  padding: 0;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  -webkit-mix-blend-mode: difference;
  -moz-mix-blend-mode: difference;
  mix-blend-mode: difference;
}
footer img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  transition: transform 0.15s;
}
footer img:hover {
  transform: translateZ(0) scale(1.2, 1.2);
}
